<div class="container">

  <form action='/cool_url' method="GET">
      YOUR NAME :<input type='text' name='getname'/> 
    <input type='submit' value="GET"/>
  </form>
    
    <br>

    <form action='/cool_url' method="POST">
        YOUR NAME :<input type='text' name='postname'/> 
      <input type='submit' value="POST"/>
    </form>
</div>
